* {
    font-family: 'Share Tech', sans-serif, 'Playfair Display', serif, 'Arial';
    min-width: 290px;
    color: whitesmoke;
    background-color: #333;
    line-height: 1.5;
}


.navigator {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border: 1px solid whitesmoke;
}

header {
    margin: 10px;
    text-align: center;
    font-size: 2.1em;
}

.main header {
    text-align: left;
    margin: 0;
}

.navigator ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.navigator li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    height: 1.5cm;
    font-size: 21px;
}

.navigator a {
    display: block;
    padding: 10px 23px;
    text-decoration: none;
    cursor: pointer;
}

.main {
    position: absolute;
    margin-left: 320px;
    padding: 20px;
    margin-bottom: 110px;
    text-align: justify;
}

code {
    display: block;
    text-align: left;
    position: relative;
    background-color: gray;
    line-height: 2;
    padding: 15px;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .navigator ul {
        height: 207px;
    }
    .navigator {
        position: absolute;
        top: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        z-index: 2;
    }
    .main {
        position: relative;
        margin-left: 0;
        margin-top: 300px;
        border-top: 1px solid whitesmoke;
    }
}